*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    border: thick double #32a1ce;
}
canvas{

}
.actions{
    position: fixed;
    left: 0;
    bottom: 0;
}
.actions >button{
    display: inline-block;
    padding: 5px 6px;
    margin: 3px 4px;
    border-radius: 3px;
}